@media screen and (min-width: 768px) and (max-width: 992px) {
    /*TABLET*/
    #images-highlights{
        padding-bottom: 15%;
        padding-left: 7%;
    }
}
@media screen and (min-width: 993px) {
    .active_link::before{
        content: '';
        position: absolute;
        bottom: -1rem;
        width: 1rem;
        height: 3px;
        background-color: #00ff95;
        border-radius: 3px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
    /*DESKTOP*/
    
}
@media screen and (min-width: 1300px){
    /*GRANDES TELAS*/
    #images-highlights img{
        margin-left: 0;
        margin-bottom: 50%;
        
    }
    #images-highlights{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .text-about p{
        text-align: center;
    }
    .textMain .image1{
        display: block;
        width: 350px;
        margin-right: 10%;
        
    }
    .textMain{
        display: flex;
        justify-content: space-between;
    }
}