@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.part1 .title-page h1{
    font-family: 'Lexend';
    color: white;
    font-weight: normal;
    font-style: normal;
}
.part1 .title-page{
    margin-left: 11%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.container-search{
    position: absolute;
    margin-left: 11%;
    background: transparent;
    height: 40px;
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px;    
    
}
.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding-left: 15px;
    transition: 2s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    
}
.container-search:hover > .search-txt{
    width: 250px;
    padding: 0 6px;
}
.container-search:hover > .search-btn{
    background: transparent;
}