/*Desenvolvido por meio do mobile-first, usando como base width 600px */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to left, #09051b, #07111b);
    
}
/* scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #2A2A2A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

/*NAVBAR CONFIGURATION*/

ul{
    list-style: none;
}
#a_icons{
    text-decoration: none;
    align-items: center;
}
.container {
    max-width: 968px;
    margin: auto;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
}
.nav {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_icon {
    font-size: 1.5rem;
}
.nav_name{
    font-family: 'Lexend';
}
.nav_list,
.nav_link {
    display: flex;
}

.nav_list {
    justify-content: space-around;
    column-gap: 3rem;
}

.nav_link {
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    color: white;
}

.nav_link:hover {
    color: #00ff95;
    text-shadow: 0 0 10px #00ff95;
}

i.nav_icon {
    display: none;
}
.active_link{
    position: relative;
    color: #00ff95;
    text-shadow: 0 0 10px #00ff95;
    transition: 0.3s;
}

/*OTHERS PAGE CONFIG*/

.title-header a{
    text-decoration: none;
}
.title-header h1{
    font-family: 'Lexend';
    color: white;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: 23px;
}
.title-header .bottom-line{
    border-bottom: 1px solid white;
    width: 80%;
    margin-left: 10%;
}

.textMain{
    margin-left: 10%;
    margin-top: 3%;
}
.textMain .image1{
    display: none;
    transform: translateY(0px);
    animation: animacao-imagem 5s ease-in-out infinite;
}

@keyframes animacao-imagem {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.textMain h1{
    font-family: 'Lexend';
    color: white;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 5%;
}

.button button{
    background-color: #00ff95;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    color: white;
    font-family: 'Sarala';
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.button{
    position: relative;
    width: 150px;
    height: 35px;
}

.button button::before, .button button:after{
    content: '';
    display: block;
    position: absolute;
    width: 152px;
    height: 37px;
    top: -2px;
    left: -2px;
    border: 2px solid #16be78;
    border-radius: 25px;
    opacity: 0;
    animation: animacao-botao 1.5s linear infinite;
}
.button button:after{
    animation-delay: .5s;
}
@keyframes animacao-botao {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}
.button button:hover{
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    background-color: #00ff95;
    border: none;
   
    transition: all 1s ease;
    cursor: pointer;
}
.text-about{
    margin-top: 20%;
}
.text-about h1{
    font-family: 'Righteous';
    color: white;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 26px;
    margin-bottom: 1%;
}
.bottom-line-about{
    border-bottom: 1px solid white;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%;
}
.text-about p{
    font-family: 'Sarala';
    color: white;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}
.highlights h1{
    font-family: 'Righteous';
    color: white;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 26px;
    margin-bottom: 1%;
}
.bottom-line-highlights{
    border-bottom: 1px solid white;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%;
}
#images-highlights{
    margin-left: 10%;
    margin-right: 10%;
}
#images-highlights img{
    width: 160px;
    margin-left: 10%;
    margin-bottom: 3%;
}

#images-highlights img:hover{
    transform: translateY(-10px);
    transition: all 1s;
}




/*BOTÃO DISCORD*/

.botao_discord{
    display: none;
}
.link-discord {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: 40px;
    background-color: #404EED;
    box-shadow: 0 0 10px #404EED, 0 0 40px #404EED, 0 0 80px #404EED;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    z-index: 1000;
}

#discord1 {
    margin-top: 17px;
}

.link-discord:hover {
    transform: translateY(-10px);
    transition: all 1s;
    transform-origin: button;

    box-shadow: 0 0 10px #404EED, 0 0 40px #404EED, 0 0 80px #404EED;
    background-color: #404EED;
}

.link-discord::before, .link-discord:after{
    content: '';
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    top: -3px;
    left: -3px;
    border: 2px solid #404EED;
    border-radius: 50%;
    opacity: 0;
    animation: animacao-botao-discord 1.5s linear infinite;
}
.button button:after{
    animation-delay: .5s;
}
@keyframes animacao-botao-discord {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}


/*BOTÕES FIM PAGINA*/

.buttons_configuration{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;   
}

.botao-contato button{
    background-color: #00ff95;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    color: white;
    font-family: 'Sarala';
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}
.botao-contato button:hover{
    transform: translateY(-10px);
    transition: all 1s;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    background-color: #00ff95;
    border: none;
    
    transition: all 1s ease;
    cursor: pointer;
}
.botao-doacao button{
    background-color: #00ff95;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    color: white;
    font-family: 'Sarala';
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}
.botao-doacao button:hover{
    transform: translateY(-10px);
    transition: all 1s;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    background-color: #00ff95;
    border: none;
   
    transition: all 1s ease;
    cursor: pointer;
}
.botao-wallpaper button{
    background-color: #00ff95;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    color: white;
    font-family: 'Sarala';
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}
.botao-wallpaper button:hover{
    transform: translateY(-10px);
    transition: all 1s;
    box-shadow: 0 0 10px #00ff95, 0 0 40px #00ff95, 0 0 80px #00ff95;
    background-color: #00ff95;
    border: none;
   
    transition: all 1s ease;
    cursor: pointer;
}


.line_up{
    border-top: 1px solid white;
    width: 92%;
    margin-left: 4%;
}
footer{
    width: 100%;
    height: 10%;
    left: 0px;
    background: transparent;
    margin-top: 10%;
}


.conteudo_footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    gap: 30%;
}
.conteudo_footer div p{
    font-family: 'Lexend';
    color: white;
    font-size: 15px;
    text-align: center;
}


/*RESPONSIVIDADE CELULAR*/

@media screen and (max-width: 992px) {
    .nav_menu {

        position: fixed;
        bottom: 0;
        left: 0;
        background: #1B2020;
        width: 85%;
        margin-left: 7%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 4%;
        transition: .4s;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .nav{
        height: 3rem;
    }
    i.nav_icon{
        display: block;
    }
    footer{
        height: 27%;
    }
}
@media screen and (max-width: 766px) {
    .conteudo_footer div{
        gap: 5%;
    }
    .conteudo_footer div p{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    #images-highlights{
        padding-bottom: 15%;
    }
}
@media screen and (max-width: 735px) {
    .buttons_configuration{
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .nav_list{
        justify-content: center;
    }
}

@media screen and (max-width: 526px) {
    .nav_name{
        display: none;
    }

}
@media screen and (max-width: 510px) {
    #images-highlights img{
        width: 120px;
    }
    #images-highlights{
        padding-bottom: 35%;
        padding-left: 4%;
    }

}
@media screen and (max-width: 414px) {
    #images-highlights{
        margin-left: 2%;
    }
}
@media screen and (max-width: 386px) {
    .textMain h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 360px) {
    #images-highlights{
        margin-left: 0;
        padding-left: 25%;
    }
    .conteudo_footer div{
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
    .conteudo_footer div p{
        font-size: 12px;
    }

}
@media screen and (max-width: 326px) {
    .textMain h1{
        font-size: 18px;
    }
}
@media screen and (max-width: 320px) {
    .nav_list {
        column-gap: 2rem;
    }
    #images-highlights img{
        width: 100px;
    }
    #images-highlights{
        padding-left: 28%;
    }
}
@media screen and (max-width: 288px) {
    .textMain h1{
        font-size: 16px;
    }
}
@media screen and (max-width: 264px) {
    .nav_list {
        column-gap: 1.5rem;
    }
    .nav_icon{
        font-size: 1rem;
    }

}

